//
//  Library.xcconfig
//  libusb
//
//  Created by Atsushi Nagase on 6/4/12.
//  Copyright (c) 2012 LittleApps Inc. All rights reserved.
//
EXECUTABLE_PREFIX = lib
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
CLANG_ENABLE_OBJC_ARC = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
